<nav id="nav" role="nav">
    <ul id="home-menu" class="list-unstyled">
        {{^is "home"}}
            <li><a href="/">Home</a></li>
        {{/is}}
        <li><a href="/student-dating">Student Dating</a></li>
        <li><a href="/app-etizers">App-etizers</a></li>
        <li><a href="/#video">Blind Date Video</a></li>
    </ul>
</nav>
