{{!< default}}

<div class="v-center">
    <div class="v-wrapper">
        <div class="description">
            <h1>{{@blog.description}}</h1>
        </div>

        {{> menu}}

        <div class="scroll-down">
            scroll down<span class="ion-arrow-down-c"></span>
        </div>
    </div>
</div>

<main class="content" role="main">
<a name="video"></a>
<br><br><br><br>
<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://player.vimeo.com/video/127484861' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
<br>
Video by Sarah Barlondo
</main>
