{{!< default}}

<div class="v-center">
    <div class="v-wrapper">
        <div class="description">
            <h1>{{@blog.description}}</h1>
        </div>

        {{> menu}}

        <div class="scroll-down">
            scroll down<span class="ion-arrow-down-c"></span>
        </div>
    </div>
</div>

<main class="content" role="main">


</main>
